$black: #000000;
$dark-gray: #4D4D4D;
$gray: #9C9C9C;
$light-gray: #BCBCBC;
$silver: #F0F0F0;
$white: #FFFFFF;

$red: #F01516;
$dark-red: #CD0D0E;
$blue: #07519C;
$light-blue: #36A9E1;
$green: #53CE17;
$yellow: #FFC314;
