// Fontes Dosis
$dosis-regular: 'dosis-regular', sans-serif;
$dosis-semibold: 'dosis-semibold', sans-serif;
$dosis-bold: 'dosis-bold', sans-serif;
$dosis-extrabold: 'dosis-extrabold', sans-serif;

// Fontes Roboto
$roboto-thin: 'roboto-thin', sans-serif;
$roboto-light: 'roboto-light', sans-serif;
$roboto-regular: 'roboto-regular', sans-serif;
$roboto-medium: 'roboto-medium', sans-serif;
$roboto-bold: 'roboto-bold', sans-serif;
$roboto-black: 'roboto-black', sans-serif;
